{% extends 'base.html' %}
{% load static %}

{% block title %}Activities – Profil Kanza{% endblock %}

{% block content %}
<div class="container text-center py-5" style="min-height:75vh;">
  <hr class="my-5">
  <h3 class="mb-4">My Activities</h3>
  <hr class="my-5">

  <div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col d-flex justify-content-center">
      <figure class="figure">
        <img src="{% static 'img/fotokanza1.jpeg' %}" class="figure-img img-fluid rounded" width="350" alt="">
        <figcaption class="figure-caption text-center">"Proud moment as the MC of our university event."</figcaption>
      </figure>
    </div>

    <div class="col d-flex justify-content-center">
      <figure class="figure">
        <img src="{% static 'img/fotokanza2.jpeg' %}" class="figure-img img-fluid rounded" width="350" alt="">
        <figcaption class="figure-caption text-center">"Dressed by the brand, empowered by the moment."</figcaption>
      </figure>
    </div>

    <div class="col d-flex justify-content-center">
      <figure class="figure">
        <img src="{% static 'img/fotokanza4.jpeg' %}" class="figure-img img-fluid rounded" width="350" alt="">
        <figcaption class="figure-caption text-center">"Bringing the energy to the stage as the lead vocalist."</figcaption>
      </figure>
    </div>

    <div class="col d-flex justify-content-center">
      <figure class="figure">
        <img src="{% static 'img/fotokanza3.jpeg' %}" class="figure-img img-fluid rounded" width="350" alt="">
        <figcaption class="figure-caption text-center">"Finding peace in my own company."</figcaption>
      </figure>
    </div>

    <div class="col d-flex justify-content-center">
      <figure class="figure">
        <img src="{% static 'img/act1.jpeg' %}" class="figure-img img-fluid rounded" width="350" alt="">
        <figcaption class="figure-caption text-center">"Enjoying a movie night out with good friends."</figcaption>
      </figure>
    </div>

    <div class="col d-flex justify-content-center">
      <figure class="figure">
        <img src="{% static 'img/act2.jpeg' %}" class="figure-img img-fluid rounded" width="350" alt="">
        <figcaption class="figure-caption text-center">“Learning and growing every day in university.”</figcaption>
      </figure>
    </div>

  </div>

  <hr class="my-5">
  <h3 class="mb-4">“This is what a day in my student life looks like.”</h3>
  <hr class="my-5">
</div>
{% endblock %}
